<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cimol Bojot AA</title>
    <link rel="stylesheet" href="/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>

<body>

    <header>
        <div class="logo">
            <a href="/"><img src="/Logo Cimolpng.png" alt="Logo Cimol Bojot AA" /></a>
        </div>
        <nav>
            <ul>
                <li><a href="/" class="nav-link">BERANDA</a></li>
                <li><a href="#menu" class="nav-link">MENU</a></li>
                <li><a href="#lokasi" class="nav-link">CABANG</a></li>
                <li><a href="#kontak" class="nav-link">KONTAK</a></li>
            </ul>
        </nav>
        <a href="/order" class="order-button" target="_blank" rel="noopener">ORDER</a>
    </header>

    <main>
        <section id="profil">
            <div class="profil-content">
                <h2>CIMOL BOJOT AA</h2>
                <p>Cimol Bojot AA, usaha kuliner lokal sejak 2020, menghadirkan camilan khas Bandung dengan resep
                    tradisional dan bumbu racikan spesial.
                    Nikmati cita rasa autentik dengan bahan berkualitas tinggi.
                    Kasta tertinggi cimol, pedasnya bikin nagih! #Pedasnyanagih #Gacukupsatu #KreasiAA
                </p>
                <a href="#menu" class="lihat-menu-button">LIHAT MENU</a>
            </div>
            <img src="/cimolprofil.png" alt="Foto Profil Cimol Bojot AA" class="side-image">
            <img src="/bumbu1.png" alt="Bumbu1" class="side-image-secondary">
            <img src="/bumbu2png.png" alt="Bumbu2" class="side-image-tertiary">
        </section>

        <section id="menu">
            <h2>MENU</h2>
            <div class="products">
                <div class="product-card moza-card" tabindex="0">
                    <div class="card-inner">
                        <div class="card-front">
                            <img src="/cimolmoza.png" alt="Cimol Bojot" />
                            <div class="product-info">
                                <h3>CIMOL ISI MOZARELLA</h3>
                            </div>
                        </div>
                        <img src="/Star.png" alt="Star" class="star">
                        <div class="card-back">
                            <div class="product-info-back">
                                <h3>CIMOL ISI MOZARELLA</h3>
                                <p><b>Porsi Kecil <br>Rp11.000</b></p>
                                <p><b>Porsi Besar <br>Rp22.000</b></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-card" tabindex="0">
                    <div class="card-inner">
                        <div class="card-front">
                            <img src="/cimolmoza.png" alt="Cimol Ayam" />
                            <div class="product-info">
                                <h3>CIMOL ISI AYAM</h3>
                            </div>
                        </div>
                        <div class="card-back">
                            <div class="product-info-back">
                                <h3>CIMOL ISI AYAM</h3>
                                <p><b>Porsi Kecil <br>Rp11.000</b></p>
                                <p><b>Porsi Besar <br>Rp22.000</b></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-card" tabindex="0">
                    <div class="card-inner">
                        <div class="card-front">
                            <img src="/cimolmoza.png" alt="Cimol Moza" />
                            <div class="product-info">
                                <h3>CIMOL BOJOT</h3>
                            </div>
                        </div>
                        <div class="card-back">
                            <div class="product-info-back">
                                <h3>CIMOL BOJOT</h3>
                                <p><b>Porsi Kecil <br>Rp6.000</b></p>
                                <p><b>Porsi Besar <br>Rp12.000</b></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-card" tabindex="0">
                    <div class="card-inner">
                        <div class="card-front">
                            <img src="/cimolbeef.png" alt="Cimol Beef" />
                            <div class="product-info">
                                <h3>CIMOL ISI BEEF</h3>
                            </div>
                        </div>
                        <div class="card-back">
                            <div class="product-info-back">
                                <h3>CIMOL ISI BEEF</h3>
                                <p><b>Porsi Kecil <br>Rp11.000</b></p>
                                <p><b>Porsi Besar <br>Rp22.000</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="subheading">Racik Rasa Favoritmu!</h3>
            <div class="customization-options">
                <div class="custom-card bumbu-card">
                    <h4>BUMBU</h4>
                    <div class="options">
                        <span class="option"><b>AYAM BAWANG</b></span>
                        <span class="option"><b>JAGUNG BAKAR</b></span>
                        <span class="option"><b>PEDAS ASIN</b></span>
                        <span class="option"><b>BARBEQUE</b></span>
                        <span class="option"><b>BALADO</b></span>
                    </div>
                </div>
                <div class="custom-card topping-card">
                    <h4>TOPPING</h4>
                    <div class="options">
                        <span class="option"><b>DAUN JERUK</b></span>
                        <span class="option"><b>BAWANG GORENG</b></span>
                    </div>
                </div>
                <div class="custom-card level-card">
                    <h4>LEVEL KEPEDASAN</h4>
                    <div class="options">
                        <span class="option"><b>LV 0</b></span>
                        <span class="option"><b>LV 1</b></span>
                        <span class="option"><b>LV 2</b></span>
                        <span class="option"><b>LV 3</b></span>
                        <span class="option"><b>EXTRA</b></span>
                    </div>
                </div>
            </div>
        </section>

        <section id="lokasi">
            <h2>CABANG</h2>
            <div id="map"></div>
            <script>
                function initMap() {
                    const markers = [
                        {
                            locationName: 'Cimol Bojot AA - Tebet Timur',
                            lat: -6.233371644058433,
                            lng: 106.85672073068969,
                            address: 'Jl. Tebet Timur Dalam Raya No.4, RT.13/RW.4, Tebet Tim., Kec. Tebet, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12820'
                        },
                        {
                            locationName: 'Cimol Bojot AA - Stasiun Tebet',
                            lat: -6.2257982283149165,
                            lng: 106.85752150057618,
                            address: 'Jl. KH Abdullah Syafei No.45, RT.4/RW.1, Tebet Tim., Kec. Tebet, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12820'
                        },
                        {
                            locationName: 'Cimol Bojot AA - Tebet Utara',
                            lat: -6.228271806080863,
                            lng: 106.85530058348306,
                            address: 'Jl. Tebet Timur Raya No.55 9, RT.9/RW.1, Tebet Tim., Kec. Tebet, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12820'
                        },
                        {
                            locationName: 'Cimol Bojot AA - Tebet Raya',
                            lat: -6.230256643070487,
                            lng: 106.8515054724219,
                            address: 'Jl. Tebet Raya No.30d, RT.9/RW.4, Tebet Tim., Kec. Tebet, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12820'
                        },
                        {
                            locationName: 'Cimol Bojot AA - Tebet Barat',
                            lat: -6.239710463192834,
                            lng: 106.84786039143776,
                            address: 'Bank Rakyat Indonesia, Bar, Jl. Tebet Bar. Jl. Tebet Barat IX No.58-66, RT.2/RW.5, West Tebet, Tebet, South Jakarta City, Jakarta 12810'
                        },
                    ];

                    const centerMap = { lat: -6.2595139449641595, lng: 106.82381767736972 };
                    const map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 12,
                        mapTypeId: google.maps.MapTypeId.ROADMAP,
                        center: centerMap,
                        disableDefaultUI: true
                    });

                    const infoWindow = new google.maps.InfoWindow({
                        minWidth: 300,
                        maxWidth: 300
                    });

                    const bounds = new google.maps.LatLngBounds();

                    for (let i = 0; i < markers.length; i++) {
                        const marker = new google.maps.Marker({
                            position: { lat: markers[i]['lat'], lng: markers[i]['lng'] },
                            map: map,
                            icon: {
                                url: "/location.png",
                                scaledSize: new google.maps.Size(40, 40),
                                anchor: new google.maps.Point(20, 40)
                            },
                            label: {
                                text: markers[i]['locationName'],
                                color: "#ffffff",
                                fontWeight: "bold",
                                fontSize: "12px",
                                className: "marker-label"
                            }
                        });

                        const infoWindowContent = `
                            <div class="loc-content">
                                <h3>${markers[i]['locationName']}</h3>
                                <address>
                                    <p>${markers[i]['address']}</p>
                                </address>
                            </div>
                        `;

                        marker.addListener('click', function () {
                            infoWindow.setContent(infoWindowContent);
                            infoWindow.open(map, marker);
                        });

                        bounds.extend(new google.maps.LatLng(markers[i]['lat'], markers[i]['lng']));
                    }
                    map.fitBounds(bounds);
                }
            </script>
            <script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>
            <table>
                <tr>
                    <td><b>TEBET TIMUR</b>
                        <br>Jl. Tebet Timur Dalam Raya No.4, RT.13/RW.4, Tebet Tim., Kec. Tebet, Kota Jakarta Selatan,
                        Daerah Khusus Ibukota Jakarta 12820
                    </td>
                    <td><b>STASIUN TEBET</b>
                        <br>Jl. KH Abdullah Syafei No.45, RT.4/RW.1, Tebet Tim., Kec. Tebet, Kota Jakarta Selatan,
                        Daerah Khusus Ibukota Jakarta 12820
                    </td>
                    <td><b>TEBET UTARA</b>
                        <br>Jl. Tebet Timur Raya No.55 9, RT.9/RW.1, Tebet Tim., Kec. Tebet, Kota Jakarta Selatan,
                        Daerah Khusus Ibukota Jakarta 12820
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td><b>TEBET RAYA</b>
                        <br>Jl. Tebet Raya No.30d, RT.9/RW.4, Tebet Tim., Kec. Tebet, Kota Jakarta Selatan, Daerah
                        Khusus Ibukota Jakarta 12820
                    </td>
                    <td><b>TEBET BARAT</b>
                        <br>Bank Rakyat Indonesia, Bar, Jl. Tebet Bar. Jl. Tebet Barat IX No.58-66, RT.2/RW.5, West
                        Tebet, Tebet, South Jakarta City, Jakarta 12810
                    </td>
                </tr>
            </table>
        </section>

        <section id="kontak">
            <h2>KONTAK</h2>
            <p>Isi formulir di bawah untuk menghubungi kami.</p>
            <form class="contact-form" hx-post="/kontak" hx-target="#contact-message" hx-swap="innerHTML">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" placeholder="Masukkan email Anda" required>
                </div>
                <div class="form-group">
                    <label for="pesan">Pesan:</label>
                    <textarea id="pesan" name="pesan" placeholder="Tulis pesan Anda" rows="5" required></textarea>
                </div>
                <button type="submit" class="submit-button">KIRIM</button>
                <div id="contact-message"></div>
            </form>
            <script>
                document.body.addEventListener('htmx:afterRequest', (event) => {
                    if (event.detail.target.id === 'contact-message') {
                        const response = JSON.parse(event.detail.xhr.responseText);
                        const messageDiv = document.getElementById('contact-message');
                        if (event.detail.xhr.status === 200) {
                            messageDiv.innerHTML = `<p class="success-message">${response.message}</p>`;
                        } else {
                            messageDiv.innerHTML = `<p class="error-message">${response.error}</p>`;
                        }
                    }
                });
            </script>
        </section>

        <!-- Tombol Logo PNG untuk Login Admin -->
        <div class="admin-login-button">
            <a href="/admin-login">
                <img src="/logoadmin.png" alt="Admin Login" />
            </a>
        </div>

    </main>

    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <a href="#"><img src="/logofooter.png" alt="Logo Cimol Bojot AA" /></a>
            </div>
            <div class="footer-nav">
                <ul>
                    <li><a
                            href="https://www.instagram.com/cimolbojotaa?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><img
                                src="/logoig.png" alt="Logo Instagram" /></a></li>
                    <li><a href="https://www.tiktok.com/@cimolbojotaa?is_from_webapp=1&sender_device=pc"><img
                                src="/logotiktok.png" alt="Logo Tiktok" /></a></li>
                    <li><a href="https://x.com/Cimolbojot_aa"><img src="/logox.png" alt="Logo X" /></a></li>
                    <li><a href="https://tr.ee/eEDlJl-MlE"><img src="/logoshopee.png" alt="Logo Shopee" /></a></li>
                </ul>
                <h4>#Pedasnyanagih #Gacukupsatu #KreasiAA</h4>
            </div>
            <div class="footer-contact">
                <h4>Kontak Kami</h4>
                <div class="contact-info">
                    <p>Telepon: <a href="tel:+62123456789">+62 123 456 789</a></p>
                    <p>Email: <a href="mailto:info@cimolbojotaa.com">info@cimolbojotaa.com</a></p>
                </div>
            </div>
        </div>
    </footer>

    <script src="script.js"></script>
</body>

</html>